
body {
    background-color: #000000;
    font-family: 'Orbitron';
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  .content__container:before {
    content: '[';
    left: 0;
  }
  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #16a085;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @-o-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-o-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @-moz-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-moz-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  

.banner{
    height: 600px;
    width: 100%;

}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 600px;
    width: 100%;
}

.logo{
    position: relative;
    display: inline-block;
    text-align: left;


}
p{
    color: white;
}

.grid{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1;
    grid-gap: 5px;

}
.texto-justificado{
    text-align: justify;
    }

/* .card{
    min-height: 240px ;
} */

.card-text{
    color:black;

}

footer{
    background-image: url(./assets/img/banner.gif);

}

.card-img{
    object-fit: fill ;

}



.titulos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(204, 195, 195) ;

}



.centrado {
    display: flex;
   justify-content: right;
   margin-right: 9%;

}

.navbar{
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: #dddcdc67 solid;

}



.navbar a:hover{
    color: rgb(255, 255, 255) !important;
    transition: 0.5s;
  /*   background-color: white;
    color: #000000 !important; */
}
.redes{
  max-width: 40px;
    
}

.ulr{
  display: flex;
  position:relative;
  margin: -60px;
  list-style: none;
  gap: 20px;
}



/* .centrado{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
 */